# Aggregation with groupby

In [1]:
%autosave 0

Autosave disabled

In [2]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
pd.set_option('precision', 2) # show only two decimal digits

Load the survey data

In [3]:
df  = pd.read_csv('cleaned_survey.csv', index_col=0)

In [5]:
df.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,...,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,...,0,1.0,4,4,0,1,0,0,6.0,1
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,...,0,0.0,2,2,0,0,0,1,4.0,1
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,...,0,1.0,3,3,0,0,1,0,3.0,1
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,...,0,1.0,2,3,0,0,0,1,5.0,1
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,...,0,0.0,1,1,0,0,1,0,4.0,1

In [6]:
pd.set_option('display.max_columns',100)

In [7]:
df.head()

,Job,Program,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
0,0.0,MSIS,4,1,1,0.0,1,1.0,1.0,0.0,1.0,0.0,1,0,1.0,4,4,0,1,0,0,6.0,1
1,0.5,MSIS,3,1,1,0.0,1,0.0,0.0,0.0,1.0,0.0,1,0,0.0,2,2,0,0,0,1,4.0,1
2,0.0,MSIS,3,0,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,1.0,3,3,0,0,1,0,3.0,1
3,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,1.0,1.0,0.0,1,0,1.0,2,3,0,0,0,1,5.0,1
4,0.0,MSIS,3,1,0,0.0,1,1.0,0.0,0.0,1.0,0.0,1,0,0.0,1,1,0,0,1,0,4.0,1

## groupby

The method <i>groupby</i> splits the data by the value of a field <i>f</i>. We can then aggregate other columns separately for each value of <i>f</i>

<b>Example</b>: We know how to show the average value of each column.  But groupby allows us to show the average value of each column divided by "Program"

In [10]:
df.groupby('Program').mean()

,Job,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
Program,,,,,,,,,,,,,,,,,,,,,,
Business Man,1.00,1.00,0.00,0.00,NaN,0.00,0.00,1.00,1.00,0.00,0.00,1.00,0.00,1.00,2.00,3.00,0.00,0.00,0.00,1.00,2.00,0.00
Faculty!,1.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,1.00,5.00,5.00,0.00,0.00,0.00,1.00,3.00,1.00
MBA,0.66,2.50,0.31,0.38,0.12,0.38,0.38,0.33,0.44,0.62,0.13,1.00,0.25,0.88,1.94,1.94,0.00,0.12,0.12,0.75,3.06,0.62
MSIS,0.20,3.08,0.70,0.47,0.07,0.97,0.49,0.40,0.10,0.95,0.07,0.93,0.75,0.31,1.77,1.75,0.03,0.30,0.35,0.33,4.20,0.93
Master of Finance,0.00,4.00,1.00,1.00,0.00,0.00,1.00,1.00,0.00,1.00,0.00,1.00,0.00,1.00,1.00,1.00,0.00,0.00,0.00,1.00,5.00,1.00
Supply Chain Mgmt & Analytics,0.50,1.50,0.50,0.50,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,1.00,2.00,1.00,0.50,0.50,0.00,0.00,2.00,0.50

#### Example

Display the mean of all columns, grouping by the Job situation

In [12]:
df.groupby('Job', as_index=False).mean()

,Job,ProgSkills,C,CPP,CS,Java,Python,JS,R,SQL,SAS,Excel,Tableau,Regression,Classification,Clustering,Bach_0to1,Bach_1to3,Bach_3to5,Bach_5Plus,Languages,Expert
0,0.0,2.91,0.62,0.41,0.09,0.78,0.45,0.41,0.16,0.87,0.06,0.97,0.66,0.38,1.84,1.84,0.06,0.25,0.41,0.28,3.81,0.88
1,0.5,3.07,0.67,0.60,0.07,0.93,0.40,0.20,0.14,0.93,0.20,1.00,0.67,0.50,1.73,1.60,0.00,0.27,0.20,0.53,4.13,0.87
2,1.0,2.50,0.43,0.36,0.08,0.43,0.43,0.54,0.36,0.71,0.08,0.86,0.21,0.86,2.07,2.07,0.00,0.21,0.00,0.79,3.36,0.64

## Aggregate only some columns

Oftentimes, we don't want to aggregate all columns. For example, we want to find the average of Job grouped by Program.

In [13]:
df.groupby('Program')['Job'].mean()

Program
Business Man                     1.00
Faculty!                         1.00
MBA                              0.66
MSIS                             0.20
Master of Finance                0.00
Supply Chain Mgmt & Analytics    0.50
Name: Job, dtype: float64

Or more columns. For example, we want to find the average of Job, C, and R, grouped by Program.

In [16]:
df.groupby('Program')['Job','C','R'].mean()

                                Job     C     R
Program
Business Man                   1.00  0.00  1.00
Faculty!                       1.00  1.00  0.00
MBA                            0.66  0.31  0.44
MSIS                           0.20  0.70  0.10
Master of Finance              0.00  1.00  0.00
Supply Chain Mgmt & Analytics  0.50  0.50  0.00

## Problems

For each Job situation (0=no job, 0.5=part time, 1=full time), find the proportion of students that know SQL

In [18]:
df.groupby('Job',as_index=False)['SQL'].mean()

   Job   SQL
0  0.0  0.87
1  0.5  0.93
2  1.0  0.71

For each program, count how many student know SQL.

use count() ?  use count() will count in both 0 and 1

In [19]:
df.groupby('Program')['SQL'].count()

Program
Business Man                      1
Faculty!                          1
MBA                              16
MSIS                             39
Master of Finance                 1
Supply Chain Mgmt & Analytics     2
Name: SQL, dtype: int64

In [21]:
df.SQL.isna().sum()

1

so should use sum() instead

In [22]:
df.groupby('Program')['SQL'].sum()

Program
Business Man                      0.0
Faculty!                          1.0
MBA                              10.0
MSIS                             37.0
Master of Finance                 1.0
Supply Chain Mgmt & Analytics     2.0
Name: SQL, dtype: float64

Considering only the students who know SQL, find for each Program the proportion of students who know Java

Next two commands will lead to same answer, but which one is faster? Why?
<ol>
<li>df.groupby(by='Program')['SQL'].mean()
<li>df.groupby(by='Program').mean()['SQL']
</ol>

For each Classification skill level, how many MBA students are there? Your result should have 5 rows (one for each classification skill level: 1, 2, 3, 4, and 5)

Here is the wrong way to do it:
<ol>
<li>Keep only the rows of MBA students
<li>Perform group by
</ol>

<p>Here is the correct way to do it:</p>
<ol>
<li>Create a dummy variable 'MBA' that has a 1 (or True) if the student is an MBA student and 0 (or False) otherwise
<li>For each classification level, compute the sum of the 'MBA' column. Note that the sum of boolean values counts the True values.
<li>Remove the dummy variable 'MBA'
</ol>

Or...

## Apply multiple functions (<i>agg</i>)

For each Job situation (0=no job, 0.5=part time, 1=full time), find (1) how many students are in that Job situation and (2) the proportion of students that know SQL.

Let's check the NaN in the DataFrame first ..

Now we know which columns has Nan

'Job' column doesn't have Nan, so .count() and .size() return the same. so 'how many students are in that Job situation' can use either one.

But column 'SQL' has Nan, so when couting the 'Job' situation through the 'SQL' column, we need to use *size* instead of *count*

#### Renaming resulting columns

You need to rename the columns manually

## Apply multiple arbitrary functions to multiple columns and give them names (agg)

For each Job situation (0=no job, 0.5=part time, 1=full time), compute the average knowledge of SQL, the maximum knowledge of Classification, and the gap between the max and the min Classification score for each Job level

We can also give a name to all columns created

## group by multiple fields

You can also group by multiple fields. For example, find the mean of all columns grouped by Program and Job situation.

It returns a DataFrame with a <b>Hierarchical Index</b> (i.e., a composite key in a database). In this case, the index is (Program,Job). DataFrames with Hierarchical Indeces are outside the scope of this course because they tend to be hard to deal with; you can avoid them here by using <i>as_index = False</i> inside the <i>groupby</i>. Note: it does not work in all cases.

Or use .reset_index()

## Problems

Find the maximum, minimum, and average number of Languages known by students in each Program

For each existing combination of programming skills level and Program, report the number of students (call it <i>nStudents</i>) and the proportion that know Python (call it <i>PythonProportion</i>)

HARD. For each Program, report:
<ul>
<li>the number of students who know both Python and C (call it <i>C_Python_Students</i>, and note that it can be equal to 0)
<li>the gap between max and mean Clustering knowledge (call it <i>CluGap</i>)
</ul>

## Advanced: retrieve unaggregated rows (<i>apply</i>)

Sometimes, for each group-by value we want to retrieve one or more rows. For example, for each program report the student who knows most languages (report more than one students in case of ties)

If we don't care about which *Program* and just based on the max()

With *.groupby('Program')* ...

### Warning! Do not use DataFrameGroupBy.apply unless you actually need it

The method <i>DataFrameGroupBy.apply</i> is slow. It is implemented as a for loop that invokes the lambda function at each iteration.

The fast way to compute the average ProgSkills for each program:

The <b>slow</b> way to compute the average ProgSkills for each program:

## Problems

For each ProgSkills level, find the student (or students in case of ties) with the highest Classification skills and show their knowledge of C and Java

For each ProgSkills level, find the Program with most students that have that ProgSkill level

Starts from ProgSkills level == 1 ..

Some checking: